<!-- Base template: all other templates are derived from this -->
<!DOCTYPE html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - blog</title>
      {% else %}
      <title>Welcome to blog</title>
      {% endif %}
    </head>
    <body>

        <!-- Top bar links -->
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Home</a> 
            <a href="{{ url_for('login') }}">login button :)</a>
            <a href="{{ url_for('test_page') }}">test</a>
        </div><hr>

        <!-- Allowing messages to be flashed -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ messages }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Where the derived templates can insert themselves -->
        {% block content %}{% endblock %}

    </body>
</html>
